<!DOCTYPE html>
<meta charset="utf-8">
<title>Atul's Prototype Dashboard</title>
<div id="projects"></div>
<script type="text/html" id="project-template">
  <h2><%- name %></h2>
  <small>Last updated <%- parseAndFormatDate(pushed_at) %></small>
  <ul>
    <% if (homepage) { %>
      <li><a href="<%- homepage %>">homepage</a></li>
    <% } %>
    <% if (html_url) { %>
      <li><a href="<%- html_url %>">source code</a></li>
    <% } %>
    <% if (blogpost_url) { %>
      <li><a href="<%- blogpost_url %>">blog post</a></li>
    <% } %>
  </ul>
  <p><%- description %></p>

</script>
<script src="vendor/jquery-2.1.0.js"></script>
<script src="vendor/underscore.js"></script>
<script>
var SETTINGS = {
  username: 'toolness',
  excludes: [
    'openmasterpiece',
    'bug-616472-extension',
    'jetpack-e10s',
    'oop-jetpack-sdk-poc'
  ],
  extras: [
    {
      name: 'python-for-js-programmers',
      html_url: 'http://hg.toolness.com/python-for-js-programmers/',
      blogpost_url: 'http://www.toolness.com/wp/2008/06/python-for-javascript-programmers/',
      homepage: 'http://hg.toolness.com/python-for-js-programmers/raw-file/20cd2cf47710/PythonForJsProgrammers.html',
      pushed_at: 'Wed Jun 11 06:13:00 2008 -0700',
      description: 'A Python tutorial for JavaScript programmers.'
    },
    {
      name: '826-national-preso',
      html_url: 'http://hg.toolness.com/826-national-preso/',
      homepage: 'http://hg.toolness.com/826-national-preso/raw-file/a35b922da615/index.html',
      pushed_at: 'Thu Jul 08 10:20:54 2010 -0700',
      description: 'A presentation on what Mozilla can learn from 826 National.'
    },
    {
      name: 'browser-couch',
      html_url: 'http://hg.toolness.com/browser-couch/',
      blogpost_url: 'http://www.toolness.com/wp/2009/04/couches-in-browsers/',
      homepage: 'http://hg.toolness.com/browser-couch/raw-file/954b2b739d41/index.html',
      pushed_at: 'Tue Apr 21 12:13:21 2009 -0700',
      description: 'Naive attempt at client-side CouchDB in the browser using DOMStorage.'
    }
  ]
};

function Repo(options) {
  _.extend(this, options);
}

Repo.prototype = {
  homepage: '',
  html_url: '',
  blogpost_url: ''
};

function parseLink(link) {
  var result = {};
  link.split(',').forEach(function(part) {
    var match = part.match(/\<(.+)\>;\s*rel="(.+)"/);
    if (match)
      result[match[2]] = match[1];
  });
  return result;
}

function parseISO8601Date(date) {
  if (/Z$/.test(date))
    return new Date(Date.parse(date));
}

function parseRFC2822Date(date) {
  if (/^(Mon|Tue|Wed|Thu|Fri|Sat|Sun)/.test(date))
    return new Date(Date.parse(date));
}

function parseMonthYearDate(date) {
  var MONTH_YEAR_RE = /^([A-Za-z]+)\s+([0-9][0-9][0-9][0-9])$/;
  var MONTHS = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul',
                'aug', 'sep', 'oct', 'nov'];

  if (!MONTH_YEAR_RE.test(date)) return;

  var match = date.match(MONTH_YEAR_RE);
  var shortMonth = match[1].toLowerCase().slice(0, 3);
  var monthIndex = MONTHS.indexOf(shortMonth);

  if (monthIndex != -1)
    return new Date(parseInt(match[2]), monthIndex);
}

function parseAndFormatDate(date) {
  var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June',
                'July', 'August', 'September', 'October', 'November',
                'December'];

  date = parseDate(date);
  return MONTHS[date.getMonth()] + ' ' + date.getFullYear();
}

function parseDate(date) {
  var parsers = [parseISO8601Date, parseRFC2822Date, parseMonthYearDate];
  var result;

  if (date instanceof Date) return date;

  for (var i = 0; i < parsers.length; i++) {
    result = parsers[i](date);
    if (result) return result;
  }

  throw new Error("Cannot parse date: " + date);
}

function getRepos(username, cb, url, results) {
  url = url || 'https://api.github.com/users/' + username + '/repos';
  results = results || [];
  $.get(url, function(repos, success, req) {
    if (success != "success") return cb(req);
    results = results.concat(repos.filter(function(r) { return !r.fork; }));
    var links = parseLink(req.getResponseHeader('link'));
    if ('next' in links)
      return getRepos(username, cb, links.next, results);
    cb(null, results);
  });
}

function showRepos(repos, excludes) {
  var template = _.template($('#project-template').text().trim());
  repos.filter(function(repo) {
    return excludes.indexOf(repo.name) == -1;
  }).forEach(function(repo) {
    $("#projects").append($(template(new Repo(repo))));
  });
}

function main() {
  var key = SETTINGS.username + '-repos';
  var done = function() {
    var repos = JSON.parse(window.sessionStorage[key])
      .concat(SETTINGS.extras);
    showRepos(repos, SETTINGS.excludes);
  };

  if (key in window.sessionStorage)
    done();
  else
    getRepos(SETTINGS.username, function(err, repos) {
      if (err) return console.error(err);
      window.sessionStorage[key] = JSON.stringify(repos);
      done();
    });
}

if (location.search == '?test') {
  document.write('<script src="vendor/expect.js"></' + 'script>');
  document.write('<script src="test.js"></' + 'script>');
  $(function() { run_tests(); });
} else $(main);
</script>
